/*Font used in the website*/
@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}
body{
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    font-weight: 500;
}
img:first-of-type{
    position: absolute;
    top: 100px;
    left: 250px;
    height: 200px;
    width: 350px;
}
img:last-of-type{
    position: absolute;
    top: 320px;
    left: 350px;
    height: 200px;
    width: 350px;
}
.main{
    position: absolute;
    top: 250px;
    right: 230px;
    display: grid;
    place-items: center;
}
.main img:first-child{
    position: absolute;
    top: -70px;
    left: 95px;
    height: 70px; 
    width: 70px;
}
p{
    font-size: 18px;
    font-family: SpaceGrotesk;
}
p:first-of-type{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);;
}
p:last-of-type{
    color: hsl(279, 6%, 55%)
}
a{
    position: inherit;
    top: 130px;
}
button{
    height: 7vh;
    width: 23vw;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    font-family: SpaceGrotesk;
    font-size: 18px;
}

/*Responsive Web Design*/
@media screen and (max-width: 375px){
    body{
        background-image: url(/images/bg-main-mobile.png);
        padding: 50px 10px;
    }
    img:first-of-type{
        top: 130px;
        left: 25px;
        height: 170px;
        width: 290px;
        z-index: 1;
    }
    img:last-of-type{
        top: 25px;
        left: 70px;
        height: 170px;
        width: 290px;
    }
    .main{
        top: 400px;
        left: 150px;
    }
    .main img:first-child{
        top: -70px;
        left: 10px;
    }
    p{
        position: absolute;
        left: 0;
        width: 300px;
    }
    p:first-of-type{
        top: 10px;
        left: -10px;
        width: max-content;
    }
    p:last-of-type{
        top: 50px;
        left: -95px;
    }
    a{
        top: 130px;
        left: -115px;
    }
    button{
        width: 80vw;
    }
}