/*Font used in the website*/
@font-face {
    font-family: SpaceGrotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}
body{
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    display: flex;
    font-family: SpaceGrotesk;
}
#front-card{
    position: absolute;
    top: 100px;
    left: 250px;
    height: 200px;
    width: 350px; 
}
#back-card{
    position: absolute;
    top: 320px;
    left: 350px;
    height: 200px;
    width: 350px; 
}
form{
    position: absolute;
    top: 170px;
    right: 200px;
}
.field{
    padding: 10px 0;
}
label{
    font-weight: 500;
    font-size: 15px;
    padding-top: 50px;
    color: hsl(279, 6%, 55%);
}
#last{
    position: relative;
    top: -30px;
    left: -85px;
}
input{
    height: 3.5vh;
    width: 23vw;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    margin-top: 3px;
}
input::placeholder{
    font-family: SpaceGrotesk;
    font-size: 18px;
    color: hsl(270, 3%, 87%);
}
input:active{
    border: 1px solid;
}
.solid-circle{
    border: 1px solid hsl(0, 0%, 100%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 270px;
    background-color: hsl(0, 0%, 100%);
}
.transparent-circle{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 330px;
    background-color: transparent;
    height: 20px;
    width: 20px;
}
button{
    font-family: SpaceGrotesk;
    font-size: 18px;
    position: absolute;
    top: 465px;
    right: 205px;
    height: 7vh;
    width: 23vw;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
}
.error{
    font-size: .7rem;
    color: hsl(0, 100%, 66%);
    position: relative;
    top: -10px;
}
#myspan{
    position: relative;
    top: 20px;
}
#myspan p:last-of-type{
    position: relative;
    top: -35px;
    left: 185px;
}
#card-number{
    position: relative;
    top: 180px;
    left: 260px;
    text-justify: center;
    font-size: 28px;
}
#card-name{
    position: relative;
    top: 170px;
    left: 260px;
}
#cvc{
    position:relative;
    top: 270px;
    left: 620px;
}
.date{
    width: 3vw;
}
#cvcnumber{
    margin-left: 70px;
    width: 5vw;
}

/*Responsive web design*/
@media screen and (max-width: 375px){
    body{
        background-image: url(/images/bg-main-mobile.png);
        padding: 50px 10px;
    }
    #front-card{
        top: 130px;
        left: 25px;
        height: 170px;
        width: 290px;
        z-index: 1; 
    }
    #back-card{
        top: 25px;
        left: 70px;
        height: 170px;
        width: 290px; 
    }
    form{
        top: 320px;
        left: 30px;
    }
    input{
        width: 80vw;
        margin-top: 5px;
    }
    #myspan{
        top: -30px;
    }
    #myspan p{
        position: relative;
        top: -67px;
    }
    #myspan p:last-of-type{
        top: -93px;
    }
    .solid-circle{
        top: 140px;
        left: 40px;
        z-index: 1;
    }
    .transparent-circle{
        top: 153px;
        left: 100px;
        z-index: 1;
    }
    button{
        top: 580px;
        left: 10vw;
        height: 7vh;
        width: 80vw;
    }
    .date{
        width: 10vw;
    }
    #cvcnumber{
        position: relative;
        top: -37px;
        left: 115px;
        width: 20vw;
    }
    #card-number{
        top: 160px;
        left: 20px;
        z-index: 1;
        font-size: 19.4px;
    }
    #card-name{
        top: 150px;
        left: 20px;
        font-size: 13px;
        z-index: 1;
    }
    #cvc{
        top: -53px;
        left: 280px;
        font-size: 13px;
        z-index: 1;
        width: fit-content;
    }
}